:root {
  --bg-color: #E2d54A;
  --secondary-color: #ff7e5f;
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  touch-action: none;
}

a {
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text; /* Standard syntax */
  touch-action: auto;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);

  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #D90D0D;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /*this might be causing issues on mobile*/
}

#gradient {
  position:absolute;
  background: linear-gradient(to right, var(--bg-color) 85%, transparent);
  width: 340px;
  height: 100vh;
  z-index: 30;
  transform: translateX(-340px);
}

#fixedComponents {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 470px;
  border-radius: 32px;
  z-index: 20;
  transform: translateY(-23px);
  margin-right: 255px;
}

#main-card {
  background-color: #D9D9D9;
  width: 340px;
  height: 470px;
  border-radius: 32px;
  box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
  transition: transform 1s;
  transform: translateX(0);
  /* added for dev */
  /* display:none; */
}

#button-label-area {
  position: absolute;
  right: 0;
  width: 15px;
  /* background-color: #D90D0D; */
  margin-top: 55px;
  margin-right: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
}

body.authenticated #button-label-area {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

body.about #button-label-area {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

#button-label-area > div {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

#rec-label {
  margin-bottom: 55px;
}
#play-label {
  margin-bottom: 50px;
}
#back-label {
  margin-bottom: 75px;
}

#card-header, #card-header2{
  margin: 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#version-number {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

body.authenticated #version-number {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

body.about #version-number {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

#card-left, #card-left2 {
  display:flex;
  flex-direction: column;
  border-right: 1px solid #333;
}

#bwotitle, #bwotitle2{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 10px 20px 0px 20px;
}

#info-button, #info-button2 {
  margin: 10px 0 0 0;
  cursor: pointer;
  text-align: center;
}

#info-button, #bwotitle, #logo, #card-left {
  opacity: 0;
  visibility: hidden;
}

#login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  padding: 10px 20px 0 10px;
  max-width: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

body.authenticated #login {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

body.about #login {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

#aboutpage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  padding: 20px;
  margin-left: 75px;
  max-width: 100%;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

body.authenticated #aboutpage {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

body.about #aboutpage {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

label {
  font-size: 15px;
}

#login-input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 25px;
  font-weight: bold;
}

.login-buttons {
  height: 3em;
  width: 15em;
  font-size: 15px;
  border-radius: 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

body.authenticated .grecaptcha-badge {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

@keyframes moveToLeft {
  to {
    transform: translateX(-53%);
  }
}

#main-card.animateToLeft {
  /* animation: moveToLeft 1s forwards; */
  transform: translateX(-53%);
}



#container {
    position: absolute;
    transform: translateY(-15px);
    /* align-self: center; */
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
}

#UIbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 6em;  */
  gap: 3px;
}

.buttonDiv {
  margin-left: 150px;
  margin-right: 100px;
  padding-right: 50px;
  box-sizing: border-box;
}

#recButton {
  background-color: #D90D0D;
  color: white;
  width: 30px;
  height: 60px;
  border-top-right-radius: 8px;
}

#playButton {
  height: 16em;
  background-color: black;
  color: white;
  width: 30px;
  height: 95px;
}

#stopButton {
  height: 8em;
  background-color: black;
  color: white;
  width: 30px;
  height: 60px;
  border-bottom-right-radius: 8px;
}

.button-clicked {
  transform: translateX(-20px);
  transition: transform 0.1s;
}

button {
  border: none;
}

/* #UIsliders {
  display: flex;
  flex-direction: column;
  width: 6em;
  justify-content: center;
  align-items: center;
} */


input[type=range]{
    pointer-events: none;
  }
  input[type=range]::-webkit-slider-thumb{/*Webkit Browsers like Chrome and Safari*/
    pointer-events: auto;
  }
  input[type=range]::-moz-range-thumb{/*Firefox*/
    pointer-events: auto;
  }
  input[type=range]::-ms-thumb{/*Internet Explorer*/
    pointer-events: auto;
  }

#jogwheel {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 180px;
  background: transparent;
  outline: none;
  transform: rotate(90deg);
  position: relative;
  /* left: -77px; */
  top: 80px;
  margin-bottom: 160px;
}

 #jogwheel::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 60px;
  background: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
}

#jogwheel::-moz-range-thumb {
  appearance: none;
  height: 30px;
  width: 60px;
  background: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
}

#jogwheel::-webkit-slider-runnable-track {
  height: 30px;
  width: 180px;
  /* background-color: #333; */
}

#jogwheel::-moz-range-track {
  height: 30px;
  width: 180;
  /* background-color: #333;  */
}

#jjjlogo {
  margin: 10px;
}